<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML 1</title>
</head>

<body>
    <header>
        <img src="images/logo-mercado-liebre.svg" alt="Logo mercadoliebre" width="360">

        <p>Lugar para poner barra busqueda</p>

        <p>Compra en cuotas y sin tarjeta de credito</p>

        <nav>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Crea tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
        </nav>
    </header>
    <section>
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas" width="360">
    </section>
    <main>
        <section>
            <h2>Basado en tu ultima visita</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="360">

                <!--iconito de camión-->
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>

            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" width="360">

                <!--iconito de camión-->
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>

            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" width="360">

                <!--iconito de camión-->
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>

            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img"
                    width="360">

                <!--iconito de camión-->
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>

            </article>
        </section>
        <section>
            <h2>Ofertas</h2>
            <h2>Basado en tu ultima visita</h2>
            <article>
                <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="360">

                <!--iconito de camión-->
                <p>$6.770</p>
                <p>40% off</p>
                <h4>Cafetera Moulinex</h4>

            </article>
            <article>
                <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" width="360">

                <!--iconito de camión-->
                <p>$230.000</p>
                <p>20% off</p>
                <h4>MacBook Pro 2019</h4>

            </article>
            <article>
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" width="360">

                <!--iconito de camión-->
                <p>$70.500</p>
                <p>10% off</p>
                <h4>Teléfono móvil Samsung Galaxy S10</h4>

            </article>
            <article>
                <img src="images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img"
                    width="360">

                <!--iconito de camión-->
                <p>$23.200</p>
                <p>5% off</p>
                <h4>SmartTv Samsung 43"</h4>

            </article>
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>