/*
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

img {
    width: 100%;
}

h3 {
    font-size: 24px;
    margin: 15px 0;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.price {
    font-size: 18px;
}

.discount {
    font-size: 16px;
}

/* HEADER */

header {
    background-color: #EAC926;
}

.top-header p {
    text-align: center;
    margin: 10px;
}

header nav ul {
    margin: 15px;
}

.burger-menu {
    font-size: 24px;
    text-align: center;
    padding: 15px 0;
}

.burger-menu i {
    background-color: rgb(46, 46, 199);
    color: white;
    border-radius: 10px;
    padding: 8px;
}

/* FOOTER */

footer {
    background-color: white;
    color: #666;
    text-align: center;
    padding: 10px 0;
}

footer section {
    margin: 15px 25px;
}

footer section i {
    font-size: 24px;
    color: rgb(46, 46, 199);
}